# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.pyc
botOLD.py
TEST.py

# Virtual environments
venv/
.env/
.env

# VSCode
.vscode/

# Jupyter Notebook
.ipynb_checkpoints/

# OS files
.DS_Store
Thumbs.db

# Logs
*.log

# Others
*.sqlite3
*.db
